.mypy_cache/
.vscode/
.DS_Store
*.log
vale-edit.py
vale_output.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pyc

# Distribution / packaging
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.nox/
.cache

# npm
node_modules/