fastapi==0.115.6
einops==0.8.1
mypy==1.15.0
nox==2024.10.9
npx==0.1.6
numpy==2.1.2
polyleven==0.8
pydantic==2.10.5
pyinstaller==6.11.1
pytest==8.3.4
PyYAML==6.0.2
Requests
torch==2.7.0
transformers==4.48.0
uvicorn==0.34.0
vale==3.9.5.0
websockets==15.0.1